function Sword.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push constant 0
pop this 0
push argument 0
pop this 1
push this 1
push constant 2
sub
pop this 2
push pointer 0
return
function Sword.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Sword.draw 0
push argument 0
pop pointer 0
push this 0
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push argument 1
push constant 512
sub
call Sword.slash_up 2
pop temp 0
push constant 100
call Sys.wait 1
pop temp 0
push pointer 0
push argument 1
push constant 512
sub
call Sword.slash_clear 2
pop temp 0
push constant 0
return
label IF_FALSE0
push this 0
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
push argument 1
push constant 1
add
call Sword.slash_right 2
pop temp 0
push constant 100
call Sys.wait 1
pop temp 0
push pointer 0
push argument 1
push constant 1
add
call Sword.slash_clear 2
pop temp 0
push constant 0
return
label IF_FALSE1
push this 0
push constant 3
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
push argument 1
push constant 1024
add
call Sword.slash_down 2
pop temp 0
push constant 100
call Sys.wait 1
pop temp 0
push pointer 0
push argument 1
push constant 1024
add
call Sword.slash_clear 2
pop temp 0
push constant 0
return
label IF_FALSE2
push this 0
push constant 0
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
push argument 1
push constant 1
sub
call Sword.slash_left 2
pop temp 0
push constant 100
call Sys.wait 1
pop temp 0
push pointer 0
push argument 1
push constant 1
sub
call Sword.slash_clear 2
pop temp 0
push constant 0
return
label IF_FALSE3
push constant 0
return
function Sword.getDirection 0
push argument 0
pop pointer 0
push this 0
return
function Sword.getSlashLocation 0
push argument 0
pop pointer 0
push this 2
return
function Sword.setDirection 0
push argument 0
pop pointer 0
push argument 1
pop this 0
push this 0
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
push constant 2
sub
pop this 2
label IF_FALSE0
push this 0
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 1
push constant 1024
sub
pop this 2
label IF_FALSE1
push this 0
push constant 2
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 1
push constant 2
add
pop this 2
label IF_FALSE2
push this 0
push constant 3
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 1
push constant 1024
add
pop this 2
label IF_FALSE3
push constant 0
return
function Sword.slash_clear 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Sword.slash_down 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 16381
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 24571
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 24571
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 28663
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 28663
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 28663
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 30703
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 17442
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 16962
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 8580
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 8196
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 4104
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 2064
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 1056
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 576
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 384
call Memory.poke 2
pop temp 0
push constant 0
return
function Sword.slash_left 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 512
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 32384
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 24672
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 7184
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 520
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 260
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 130
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 65
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 65
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 130
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 260
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 520
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 7184
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 24672
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32384
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 512
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Sword.slash_right 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 127
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 385
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 1542
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 2104
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 4160
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 8320
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 16640
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 32256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 32256
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 16640
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 8320
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 4160
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 2104
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 1542
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 385
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 127
call Memory.poke 2
pop temp 0
push constant 0
return
function Sword.slash_up 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 384
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 576
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 1056
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 2064
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 4104
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 8196
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 8580
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 16962
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 17442
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 30703
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 28663
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 28663
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 28663
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 24571
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 24571
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push constant 0
return
